* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* defining css variables */
:root {
  --background: #1e1e2e;
  --grid: #4b4b5e;
  --fixed-cell-background: #1e1e2e;
  --editable-cell-background: #2a2a3b;
  --primary: #e0e0e0;
  --highlight: #4a90e2;
  --error-highlight: #ff5370;
  --success-highlight: #50fa7b;
}

/* layout design */

body {
  background-color: var(--background);
  color: var(--primary);
  overflow: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 6rem;
  margin-bottom: 12px;
}

.subTitle {
  font-size: 1.4rem;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 12px;
}

.boardTitle {
  font-size: 3rem;
  margin-bottom: 24px;
  opacity: 0.8;
}

.selection_menu {
  list-style-type: none;
}

.menu_item {
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.menu_item:hover {
  transform: scale(1.1);
}

.links {
  text-decoration: none;
  color: var(--primary);
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.links:hover {
  opacity: 1;
  color: var(--highlight);
}

/* cell design */
.cell {
  height: 48px;
  width: 48px;
  border: 1px solid var(--grid);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.cell:hover {
  color: var(--highlight);
  border: 1px solid var(--highlight);
}

.fixed_cell {
  background-color: var(--fixed-cell-background);
}

.editable_cell {
  background-color: var(--editable-cell-background);
}

/* block design */

.block {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  border: 1px solid #fff;
}
